.game-form {
    background-color: rgb(254, 199, 199);
    padding: 5%;
    border-radius: 10px;
    border: solid black;
}

#check {
    display: inline;
    margin: 0 10px;
    padding: 0;
    border: none;
    height: 20px;
    width: 20px;
}

#gameName {
    display: inline;
}

.create-game {
    margin-left: 30%; 
    margin-top: 5%;
   
}

.button-div {
    display: flex; 
    align-items: center;
}

