.bg {
  margin-top: 0;  
  background-image: url("../../images/jesus-eca-6B-IevAR_AE-unsplash.jpg");
    background-position: center;
  min-height: 100vh;
  /* animation: animateBg 10s linear infinite; */
    background-size: cover;
}

@keyframes animateBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.beans {
  /* position: relative; */
  display: flex;  
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

button:active {
    transform: translateY(2px);
}

.grid-container {
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 2fr;
}

.grid-item {
  position: relative;
    padding: 20px; 
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px; 
    font-family: Verdana;
    font-weight: bold;
    color: rgb(170, 162, 162);
}

.start-button {
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(163, 8, 8), rgb(253, 84, 104));
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer; 
    transition: background 0.8s; 
    background-position: center;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

.new-game-btn {
  text-align: center;
  margin: auto;
  margin-top: 20%; 
  /* grid-row: 1 / span 1;
  grid-column: 2 / span 1; */
}

.start-h1 {
  font-size: 100px;
  font-weight: 100;
  background: -webkit-linear-gradient(#f8e2c3,#EC9A29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-family: 'Ewert';
}

.menu-container {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
